html{
    padding: .3rem .5rem;
}
/*header*/
.header-background{
    background-color:plum;
}
header h1{
    text-align: center;
}

/*footer*/
.footer{
    color: white;
    background-color: black;
    text-align: center;
}
